body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-repeat: no-repeat; */
  height: 100vh;
  background-color: #e7f1fa;
  font-family: Arial, Helvetica, sans-serif;
}

#search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  padding: 10px 5px;
  width: 500px;
  font-size: 1.2rem;
}

#search-weather {
  width: 200px;
  margin-top: 10px;
  padding: 15px 20px;
  font-size: 1.3em;
  background-color: darkslategrey;
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

#loader {
  margin-top: 20px;
}

#weather-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  /* background-color: #95c4e6; */
  color: white;
  width: 500px;
  border-radius: 6px;
  padding: 0 20px;
}

@media only screen and (max-width: 1000px) {
  #weather-section {
    width: 350px;
  }
}

#toggle-section {
  margin-top: 20px;
  text-wrap: nowrap;
  align-self: center;
  font-weight: bold;
}

#content {
  margin-top: 10px;
  margin-bottom: 20px;
}

#location {
  font-size: 1.5rem;
}

#local-time {
  margin-top: 5px;
  margin-bottom: 10px;
}

#weather-icon {
  position: relative;
  top: 10px;
  right: 10px;
}

#temperature {
  display: inline-block;
  font-size: 3.75rem;
  font-weight: bold;
}

#description {
  font-size: 1.2rem;
}

.error-msg {
  color: red;
  background-color: lightpink;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
/*   -webkit-transition: .4s;
  transition: .4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}